#head{
    margin-bottom: 10px;
    background-color: #ff4500;
    
}
.title{
    font-weight: bold;
    font-size: 50px;}
    
#img{
    width:130px;
    height:130px;
    left: 0px;
    position: absolute;
}

#main{margin: 10px;}

#side{margin: 10px;
    position: sticky;
    top: 0;
}

#bodyinput{margin: 10px;
  position: sticky;
  top: 0;
}

#savenote{margin: 10px;
    position: sticky;
    top: 0;
}

#notes{
    position: sticky;
    top: 0;
}

#text{font-weight: bold;
font-size: 20px;
width:45vw;
word-wrap: break-word;
}

#noteTitle{font-weight: bold;
font-size: 30px;
position: sticky;
top: 0;
}

